.navbar-item .logo {
    max-height: none;
    height: 2.5rem;
    margin-right: .5rem;
}
li.has-underline {
    text-decoration: underline;
}
.daopin-menu {
    background: transparent;
}
.menu-bg {
    background: rgba(255,255,255,.95);
}
.tech-bg {
    /* background-image: url("../images/leaves-pattern.png"); */
    /* background-position: center center; */
}
.honor-section .prize-hipipe {
    width: 280px;
}
.honor-section .prize-varpipe {
    width: 165px;
}
.honor-section .pic {
    height: 500px;
}
.honor-section .champion {
    height: 297px;
}
.honor-section .tit {
    height: 200px;
    opacity: .85;
}
.honor-section .tit div {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
    background: #fefefe;
    opacity: .8;
}
.honor-section .varpipe .sub-image {
    height: 400px;
}
.honor-section .text {
    font-size: calc(1.2rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
}
.belief-section {
    background: #F3F4F6;  /* fallback for old browsers */
}
.v-center-column {
    align-items: center;
}
.empty-space {
    height: 5rem;
}

.innov-text-section {
    background-image: linear-gradient(-180deg, #f8f8fb 0%, #fcfcfc 100%)
}
.varpipe-column {
    align-items: center;
}

.hipipe-section .text {
    margin: 25px 0 25px;
    font-size: calc(1.2rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
}
.hipipe-section .daopin-sbtitle {
    color: #7a7a7a;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.125;
}
.hipipe-main {
    align-items: center;
}

.arch-img {
    position: relative;
    width: 600px;
    margin: 0 auto;
    display: block;
}
.feature-point {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    opacity: .8;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    text-align: center;
}
@media screen and (min-width: 1468px) {
    #feature-1 {
        top: 60px;
        left: 309px;
        background: red;
        animation-duration: 2s;
    }
    #feature-2 {
        top: 115px;
        left: 492px;
        background: #548235;
        animation-duration: 2s;
    }
    #feature-3 {
        top: 228px;
        left: 439px;
        background: #4472C4;
        animation-duration: 2s;
    }
    .hipipe-feature {
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 1280px) and (max-width: 1467px){
    #feature-1 {
        top: 60px;
        left: 263px;
        background: red;
        animation-duration: 2s;
    }
    #feature-2 {
        top: 108px;
        left: 436px;
        background: #548235;
        animation-duration: 2s;
    }
    #feature-3 {
        top: 216px;
        left: 404px;
        background: #4472C4;
        animation-duration: 2s;
    }
    .hipipe-feature {
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 300px) and (max-width: 1279px){
    #feature-1 {
        top: 12%;
        left: 44%;
        background: red;
        animation-duration: 2s;
    }
    #feature-2 {
        top: 26%;
        left: 74%;
        background: #548235;
        animation-duration: 2s;
    }
    #feature-3 {
        top: 52%;
        left: 68%;
        background: #4472C4;
        animation-duration: 2s;
    }
    .hipipe-feature {
        font-size: 1.1rem;
    }
}

#arch-inner {
    position: absolute;
    top: 6%;
    left: 38%;
    width: 143px;
    height: 86px;
    overflow:show;
    background: transparent;
}

#arch-inner:hover {
    filter: brightness(1px)
}

.hipipe-arch-features {
    margin-top: .75rem;
}
.hipipe-feature {
    /*background: #3c3131;*/
    margin: 0 10px 20px 30px;
    font-size: 1.25rem;
    cursor: pointer;
}
.hipipe-feature:hover {
    background: black;
}
.hipipe-p-feature-title {
    margin: 0;
    padding-top: 40px;
    /*border-top: 1.5px solid rgba(239,234,255,0.65);*/
}
.quota-text {
    font-size: 1.5rem;
    background: linear-gradient(146deg, #dedede, #5a5a5a0d);
    border-radius: 5px;
    padding: 1.5rem;
}
.tech-section {
    /*background-image: url("../images/leaves-pattern.png");*/
    /*background-position: center center;*/
    background: #F3F4F6;
}
.tech-section p {
    font-size: 1.2rem;
    padding: 2rem 0;
}
.tech-section .text {
    font-size: calc(1.2rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
}
.daopin-title {
    margin: 2rem 0;
}
.profile-section {
    background-color: #f2f2f2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23d8d8d8' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}
.profile-section .bg {
    height: 270px;
    width: 100%;
background-color: #1071c0;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%235098d2' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
}
.profile-section .bg .people {
    border-radius: 48px;
    margin: 42px 0 7px;
}
.profile-section .bg .name-tag {
    font-size: 1.5rem;
    color: #fff;
}
.profile-section .bg .attr-tag {
    font-size: 1.15rem;
    color: #e6e6e6;
}
.profile-section .bg .scholar-tag {
    font-size: 1rem;
    color: #d4d4d4;
    margin: 10px 0 0;
}
.ref-section li {
    margin: 0 0 10px;
}
.prod-section {
    background: #ffffff;
}
.service-section {
    background: #F3F4F6;
    /*padding-top: 0;*/
}
.section .section-icon {
    width: 150px;
}
.section .symbol {
    line-height: 150px;
    vertical-align: bottom;
    margin: 0 1rem;
}
.tw {
    font-family: "source-han-sans-traditional";
}
.font-light {
    font-weight: 200;
}
.section .row {
    margin-bottom: 8rem;
}
.has-gap {
    --columnGap: 1.25rem;
}
.has-gap .with-gap {
    padding-left: var(--columnGap);
    padding-right: var(--columnGap);
}